# Configuración del servidor Express
PORT=3000

# Conexión a la base de datos local SQLite (Prisma)
DATABASE_URL="file:./dev.db"

# (Para el futuro) La llave secreta para los tokens de inicio de sesión
# JWT_SECRET="super-secreto-cabales-2026"